<div class="profile">
	<div class="left">
		<img src="{{model.photo}}" />
	</div>
	<div class="right">
		{{#if isEditing}}
			<h2>{{input type="text" value=model.name placeholder=model.name}}</h2>
			<p>{{input type="text" value=model.occupation placeholder=model.occupation}}</p>
			<p>{{input type="text" value=model.dob placeholder=model.dob}}</p>
			<div class="btn" {{action 'saveChanges'}}>Save Edits</div>
		{{else}}
			<div class="padded">
				<h2>{{model.name}}</h2>
				<p>{{model.occupation}}</p>
				<p>{{age}} years old</p>
				<div class="actions">
					<a href="#" {{action 'deleteProfile' profile}}>Delete Profile</a><br /><br />
					<a href="#" {{action 'editProfile'}}>Edit Profile</a>
				</div>
			</div>
		{{/if}}
	</div>
</div>
<div class="return">{{link-to 'Return to Index' 'profiles'}}</div>