<div class="profile">
	<div class="left">
		<img src="{{model.photo}}" />
	</div>
	<div class="right">
		<h2>{{model.name}}</h2>
		<p>{{model.occupation}}</p>
		<p>{{age}} years old</p>
	</div>
</div>
<div class="return">{{link-to 'Return to Index' 'profiles'}}</div>